
.smallText {
	font-size: 0.8em;
}

.smallLabel {
	font-size: 0.7em;
	text-transform: uppercase;
	color: #888;
	margin-bottom: 0;
}

ul, ol {
	list-style-position: outside;
	margin-left: 0;
	padding-left: 25px;
}

.swatch16 {
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-color: black;
	display: inline-block;
}

.tagBox {
	font-size: 0.8em;
	margin-right: 1px;
	padding: 5px;
	background-color: #eee;
	border: solid 1px #ddd;
	display: inline-block;
}

table thead tr th  {
    padding: 0.6em 0.4em;
}

table tr td {
    padding: 0.4em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none;
}

.footer {
	text-align: center;
	font-size: 0.8em;
	color: #bbb;
}

.footer a {
	color: #888;
}

.footer a:hover {
	color: #333;
}

.wait {
	background-color: #ffeeaa;
	padding: 5px 10px;
}

.wait p {
	font-style: italic;
	padding: 0;
	margin: 0;
}