<h3>
	CardTable Module
</h3>
<p>
	Eventually, this page will be more interactive. For now...
</p>
<h5>
	The Easy Way!
</h5>
<p>
	Visit the <a href="#/overview" target="_self">Overview</a> module.
	Click one of your board links. Done.
</p>
<p>
	The following tutorials describe how to view any public board or list via ID value.
</p>
<h5>
	Board Tutorial
</h5>
<p>
	Every Trello board has a long ID string at the end of its URL. The ID is 
	<strong>4d5ea62fd76aa1136000000c</strong> for this board:<br/>
	<a href="https://trello.com/board/trello-development/4d5ea62fd76aa1136000000c">
		https://trello.com/board/trello-development/4d5ea62fd76aa1136000000c
	</a>
</p>
<p>
	The base Card Table URL for a board is:<br/>
	<a href="#/cardtable/board" target="_self">
		http://aestheticinteractive.github.io/TrelloVision/#/cardtable/board
	</a>
</p>
<p>
	Put these two peices together to visit the board's Card Table:<br/>
	<a href="#/cardtable/board/4d5ea62fd76aa1136000000c" target="_self">
		http://aestheticinteractive.github.io/TrelloVision/#/cardtable/board/4d5ea62fd76aa1136000000c
	</a>
</p>

<h5>
	Please Note
</h5>
<p>
	Boards and lists can become <em>very</em> large. It sometimes takes several seconds for a 
	TrelloVision page to load the necessary Trello data.
</p>