<div class="row" ng-show="model.ready">
	
	<div class="large-9 small-6 columns">
		<h3>
			{{model.table.board.name}}
		</h3>
		<p ng-show="model.data.desc.length > 0">
			{{model.table.board.desc}}<br/>
		</p>
		<p>
			<a href="{{model.table.board.url}}" target="_blank">
				View this board at Trello.com >
			</a>
		</p>
	</div>
	
	<div class="large-3 small-6 columns">
		<br/>
		<h5>
			Labels
		</h5>
		<div ng-repeat="color in model.table.labelColors">
			<span class="swatch16" style="background-color: {{color}};"></span>
			<span style="font-size: 0.8em;">{{model.table.labelMap[color]}}</span>
		</div>
	</div>
	
</div>

<div class="row" ng-show="model.ready">
	
	<hr/>
	
	<div class="large-2 columns">
		<h5>
			Table Filters:
		</h5>
	</div>
	
	<div class="large-2 columns">
		<input type="text" placeholder="List Name" ng-model="search.listName">
	</div>
	
	<div class="large-2 columns">
		<input type="text" placeholder="Card Name" ng-model="search.name">
	</div>
	
	<div class="large-6 columns">
	</div>
	
	<hr/>
	
</div>

<div class="row" ng-show="model.ready">
	
	<div class="large-12 small-12 columns">
		<h5>
			Cards for the "{{model.table.board.name}}" Board
		</h5>

		<table style="font-size: 0.8em;" class="responsive">
			<thead>
				<th title="Short ID">#</th>
				<th title="List Name">List</th>
				<th title="Card Name">Name</th>
				<th title="Last Updated">Upd</th>
				<th title="Green Label">G</th>
				<th title="Yellow Label">Y</th>
				<th title="Orange Label">O</th>
				<th title="Red Label">R</th>
				<th title="Purple Label">P</th>
				<th title="Blue Label">B</th>
				<th title="Member Count">#M</th>
				<th title="Comment Count">#C</th>
				<th title="Vote Count">#V</th>
				<th title="Due Date">Due</th>
				<th title="Checklists">Chk</th>
				<th ng-repeat="mem in model.table.members" title="{{mem.fullName}} ({{mem.username}})">
					{{mem.initials}}
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="card in model.table.cards | filter:search">
					<td>
						<a href="{{card.url}}">
							{{card.shortId}}
						</a>
					</td>
					<td>
						<a href="#/cardtable/list/{{card.listId}}">
							{{card.listName}}
						</a>
					</td>
					<td>
						{{card.name}}
					</td>
					<td>
						{{card.updated}}
					</td>
					<td ng-repeat="color in model.table.labelColors">
						<span ng-show="card[color+'Label'] != null" class="swatch16" 
						      style="background-color: {{color}};"
							  title="{{card[color+'Label']}}"></span>
					</td>
					<td>
						{{card.memberCount}}
					</td>
					<td>
						{{card.commentCount}}
					</td>
					<td>
						{{card.voteCount}}
					</td>
					<td>
						{{card.due}}
					</td>
					<td>
						<span ng-repeat="list in card.checklists" title="{{list.name}}">
						    {{list.progress}}
						</span>
					</td>
					<td ng-repeat="mem in model.table.members">
						<span ng-show="card['member'+mem.id] != null">X</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>