<div ng-show="!model.ready" class="wait">
	<p>Loading Trello data, please wait...</p>
</div>

<div ng-cloak class="row" ng-show="model.ready">

	<div class="large-3 columns">
		<img src="http://www.gravatar.com/avatar/{{model.data.gravatarHash}}?s=200&d=identicon" />

		<h5 style="margin-bottom: 0;">
			<a href="{{model.data.url}}">{{model.data.fullName}}</a>
		</h5>

		<p class="subheader" style="margin-top: 0;">
			{{model.data.username}}
		</p>
	</div>
	
	<div class="large-9 columns">
		<h5>
			My Boards
		</h5>

		<ul class="square">
			<li ng-repeat="board in model.data.boards | filter:{idOrganization:'!'}">
				<a href="#/cardtable/board/{{board.id}}" target="_self">{{board.name}}</a>
			</li>
		</ul>

		<div ng-repeat="org in model.data.organizations">
			<h5>
				{{org.displayName}}
			</h5>

			<ul class="square">
				<li ng-repeat="board in model.data.boards | filter:{idOrganization: org.id}">
					<a href="#/cardtable/board/{{board.id}}" target="_self">{{board.name}}</a>
				</li>
			</ul>
		</div>
	</div>

</div>
